@use 'sass:list';

// for creating boxes.
@mixin box($args...) {
  height: list.nth($args, 1);
  @if (list.length($args) == 1) {
    width: list.nth($args, 1);
  } @else if list.length($args) >= 2 {
    width: list.nth($args, 2);
  }
  @if list.length($args) >= 3 {
    background: list.nth($args, 3);
  }
}

// flexbox helper
@mixin flex($dir: null, $align: null, $justify: null, $row: null, $col: null) {
  display: flex;
  @if $dir {
    flex-direction: $dir;
  }
  @if $align {
    align-items: $align;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $row {
    row-gap: $row;
  }
  @if $col {
    column-gap: $col;
  }
}
