@use "../helpers/colors.scss" as color;
@use "../helpers/" as *;

.navbar {
  @include box(70px, 100%,#00000011);
  @include flex(null, center);
  padding: 20px 40px;
  position: absolute;
  z-index:9999;
  &.topAttached.topAttached {
    position: fixed;
    background: white;
    box-shadow: 0 4px 4px 0 #00000022;
    a {
      color: color.$darken;
    }
    .right_btn .add_properties{
        color:white;
    }
  }
  li .activeMenuItem {
    color: color.$secondary;
  }

  // brand main logo
  .brand_logo {
    @include box(38px, 220px,white );
    background-image:  url("/assets/images/brand_logo_light.png");
    background-size: contain;
    min-width: 220px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
  }
  // menu links
  .menu_links {
    @include box(null, 100%);
    list-style: none;
    @include flex(null, center, center, null, 20px);

    li.activeMenuItem.activeMenuItem {
      color: color.$secondary;
      opacity: .8;
    }

    li a {
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
    }
  }
  // right btn
  .right_btn {
    @include box(40px, max-content);
    @include flex(null, center, null, null, 20px);
    font-weight: bold;

    .login {
      color: white;
    }
    .add_properties {
      padding: 5px;
      background: color.$primary;
      color: white;
      @include flex(null, center, null, null, 10px);
      padding: 8px 20px;
      border-radius: 5px;
    }
  }
  
}
