// some imports named and global
@use "sass:color" as *;
@use "../../helpers" as *;
@use "../../helpers/colors.scss" as color;

// main component class
.home_topSection {
  // padding -> (left,right)
  $horizoltalPadding: 40px;
  @include box(105vh, 100%);
  background-position: center !important ;
  transition: background 0.2s linear;
  padding: 80px 40px;
  .down_wave {
    @include box(
      75px,
      100%,
      url("/assets/images/vector/vector_wave_white.png")
    );
    animation: wave_animate 60s ease infinite;
    transform: translate(-40px, calc(5vh + 1px));
    position: absolute;
    margin: auto;
    bottom: 0;
    &::before,
    &::after {
      @include box(
        95px,
        100%,
        url("/assets/images/vector/vector_wave_white2.png")
      );
      animation: wave_animate 50s ease infinite reverse;
      transform: translateY(-10px);
      position: absolute;
      content: "";
    }
  }
  .slider_navigator {
    @include flex(null, null, space-between);
    @include box(100px, 100%);
    @include margin-auto(null, null, 0, 0);
    transform: translateX(-$horizoltalPadding);
    position: absolute;

    div[class*="btn-"] {
      @include box(100px, 45px, color.$darken);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      place-items: center;
      cursor: pointer;
      color: white;
      display: grid;
    }
    .btn-right {
      transform: rotate(180deg);
    }
  }
  .slider_navigator_info {
    @include flex(null, null, center, null, 12px);
    @include box(40px, 100%);
    @include margin-auto(0, 0, null, 0);
    transform: translateY(-30px);
    position: absolute;
    .item {
      @include box(10px, 10px, white);
      cursor: pointer;
      opacity: 0.5;
      border-radius: 50%;
    }
    .active {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.356);
      opacity: 1;
    }
  }
  .title_box {
    @include box(100px, 650px, adjust(color.$black, $alpha: -0.75));
    @include margin-auto(0, 0, 180px);
    @include flex(null, center, center);
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 10px;
  }
}
.properties_search {
  @include box(150px, 80%, color.$darken);
  @include margin-auto(0, 0, 0, 0);
  @include flex;
  padding: 20px 25px 40px 20px;
  transform: translateY(50%);
  border-radius: 30px;
  position: absolute;
  z-index: 999;
  .firstCon {
    @include flex(null, center, space-evenly, 4px);
    flex-wrap: wrap;
    width: 100%;
  }
  .inputSelect {
    @include box(40px, 220px);
  }
  .secondCon {
    @include box(100%, 300px);
    display: grid;
    place-items: center;
  }
  .btn-search {
    @include box(40px, 220px, color.$primary);
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @include add_btn_glow_effect;
  }
  .guidedText {
    @include margin-auto(null, null, null, 0);
    @include box(40px, 100%);
    position: absolute;
    font-weight: bold;
    color: color.$secondary;
    padding-left: 30px;
    transform: translateY(5px);
    z-index: -1;
  }
}
