@use "../../helpers/mixin.scss" as *;
@use "../../helpers/colors.scss" as *;
@use 'sass:color' as *;
.section4 { 
  position:relative;
  @include box(
    950px,
    100%,
    url("/assets/images/vector/section4-bg.png") no-repeat
  );
  background-size: 40%;
  background-position: right;
  overflow: hidden;
  padding-top: 50px;
  .main-content {
    display:flex;
    width: 100%;
    .animated-img {
      position: relative;
      z-index:2;
      div {
        position: absolute;
      }
      @include box(950px, 500px);
      .main-img {
        @include box(90%);
        background: url("/assets/images/vector/section4-main-img.png") no-repeat;
        background-size: 120%;
        background-position: left;
      }
    }
  }
  .content{
    z-index:-2;
    position: absolute;
    padding-top:50px;
    transform:translateX(300px);
    z-index:2000;
    div[class*="card-"]{
      max-width:500px;
      background:adjust($black,$alpha:-.9);
      padding:10px 30px;
      border-radius: 10px;
      color:$darken;
      text-align:right;
      cursor:pointer;
      &:hover{
        background:$primary;
        color:white;
        border:2px solid white;
        
      }
      .title{
        font-size: 30px;
        font-weight: bolder;
        font-family: 'Bebas Neue';
        letter-spacing: 2px;
      }
      .dec{
        font-family: 'Sora';
        margin-top:10px;
      }
    }
    .card-1{
      transform:translate(100px,50px);
    }
    .card-2{
      transform:translate(200px,70px);
    }
    .card-3{
      transform:translate(200px,110px);
    }
    .card-4{
      transform:translate(100px,140px);
    }
  }
  .vector-icon{
    position: absolute;
    margin:auto;
    right:20px;
    top:0;
    bottom:0;
    @include box(300px);
    color:$primary;
    transform:translateY(100px) rotate(180deg);

  }
}
